{% extends 'backoffice_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des produits magasins{% endblock %}

{% block body %}
    <div class="page-content-wrapper dashboard">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Gestion des produits magasins </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Enregistrement</h4>

                            {{ include('produit_magasin/_form.html.twig') }}

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/css/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/summernote/summernote-bs4.css') }}">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <style>
        .summernote{
            background-color: transparent !important;
        }
    </style>

    <style type="text/css">
        .rubrique-select{
            background-color: rgba(105, 103, 154, 0.3) !important;
        }
        .rubrique-select:focus{
            outline: none;
        }
        .rubrique-select{
            color: rgba(0, 0, 0, 0.5);
            line-height: 38px;
        }
        .rubrique-select__choice{
            margin-top: 7px;
            background-color: rgba(105, 103, 154, 0.3);
        }
        .select--container--default{
            color: #0b0b0b;
            background-color: #6b6096;
        }
        .select2-dropdown {
            background-color: #6b6096;
            color: rgba(255, 255, 255, 0.5);
            border-color: rgba(255, 255, 255, 0.2);
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #444444;
            color: #fff;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            border: 1px solid rgba(255, 255, 255, 0.2);
            background-color: #3e6b7f;
            color: rgba(255, 255, 255, 0.5);
        }

        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: #365d6e;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('backoffice/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('backoffice/js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/summernote/summernote-bs4.min.js') }}"></script>
    <script src="{{ asset('backoffice/pages/form-summernote.init.js') }}"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script>
        $('.rubrique-select').select2();
        $('.datepicker-debut').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd',
        });
        $('.datepicker-fin').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd'
        });
        $(".tag").tagsinput();
    </script>
{% endblock %}
