{% extends 'backoffice_layout.html.twig' %}

{% block title %}Log{% endblock %}

{% block body %}
    <div class="page-content-wrapper dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Monitoring </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Monitoring</h4>
                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>DATES</th>
                                    <th>UTILISATEURS</th>
                                    <th>ACTIONS</th>
                                    <th>IP</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for fichier in fichiers %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="text-center">{{ fichier.datetime|date('H:i:s') }}</td>
                                        <td>{{ fichier.context.username }}</td>
                                        <td>{{ fichier.message }}</td>
                                        <td>
                                            <a href="http://api.ipstack.com/{{ fichier.context.ip }}?access_key=8946a56d682403bfecc9ebec65979610" target="_blank">
                                                {{ fichier.context.ip }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('backoffice/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/jszip.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/pdfmake.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/buttons.print.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('backoffice/pages/datatables.init.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#monitoring').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            } );
        } );
    </script>
{% endblock %}
