{% extends 'backoffice_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des catégories{% endblock %}

{% block body %}
    <div class="page-content-wrapper dashboard">

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Gestion des catégories </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xl-8">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Liste des catégories</h4>

                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">DOMAINES</th>
                                    <th class="text-center">NOMBRE DE BIENS</th>
                                    <th class="text-center">ACTIONS</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for domaine in domaines %}
                                    <tr>
                                        <td class="text-right mr-3">{{ loop.index }}</td>
                                        <td>{{ domaine.libelle }}</td>
                                        <td>{{ domaine.nombreCategorie }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('domaine_edit', {'id': domaine.id}) }}"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Enregistrerment</h4>

                            {{ include('domaine/_form.html.twig') }}

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backoffice/plugins/datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('backoffice/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/jszip.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/pdfmake.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/buttons.print.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('backoffice/plugins/datatables/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('backoffice/pages/datatables.init.js') }}"></script>
{% endblock %}